.landingPage-container {
    background-color: rgba(215, 215, 215, 0.5);
}

section {
  padding: 2%;
}

ul {
  text-align: left;
  font-size: 20px;
  line-height: 2;
}

h5 {
  margin: 0;
  margin-top: 6%;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
}

p {
  padding: 0 6%;
  text-align: left;
}

.hero {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: 0 auto;
  box-shadow: #002622 0px 5px 20px -10px;
}

.landingPage-view {
  margin-bottom: 4%;
  padding-bottom: 4%;
  box-shadow: #002622 0px 5px 20px -10px;
}

.mission h2 {
  color: #0468BF;
}

.BLUF {
  /* FYI BLUF = Bottom Line Up Front */
  text-align: center;
  padding-bottom: 2%;
}

.why-section {
  margin-top: 8%;
  background-color: rgba(4, 157, 217, .4);
}

.our-waterways {
  height: auto;
  width: 100%;
  max-width: 400px;
  max-height: 240px;
  padding: 1%;
}

.pacificGarbagePatch {
  height: auto;
  width: 100%;
  max-width: 400px;
  max-height: 240px;
  padding: 1%;
}

.plastic-trend-graph {
  height: auto;
  width: 100%;
  max-width: 500px;
}

.plasticAlley {
  height: auto;
  width: 100%;
  max-width: 400px;
  float: right;
  padding: 2%;
}

.planning-section {
  min-height: 800px;
}

.ready-section {
  min-height: 400px;
  background-color: rgba(4, 157, 217, .4);
  padding-bottom: 0;
}

.ready-section > p {
  text-align: center;
  margin-bottom: 5%;
}
