section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

ul {
  text-align: left;
}

.subTitles > h2, p {
  margin: 0;
}

.subTitles > p {
  margin-bottom: 2%;
}
