form {
  text-align: left;
  padding: 15px;
  color: black;
  z-index: 100;
  margin: 0 5%;
}

.form-container {
  background-color: rgb(255, 255, 255, .6);
  border-radius: 10px;
  padding: 2%;
}

button {
  opacity: 1;
  z-index: 101;
}

fieldset {
  margin: 0 5%;
  border: none;
}

legend {
  color: black;
  font-size: 24px;
}

.form-section {
  margin-bottom: 30px;
}

label {
  display: block;
}

.pledgeForm-container {
  background: url(../../images/pledge-hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vmax;
  padding-top: 12%;
}
