form {
  text-align: left;
  color: black;
  z-index: 100;
  margin: 0 5%;
}

.form-container {
  background-color: rgb(255, 255, 255, .85);
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

form button {
  margin: 1em;
}

fieldset {
  margin: 0 3%;
  padding: 0;
  border: none;
}

legend {
  color: black;
  font-size: 24px;
  margin-bottom: 1em;
}

.form-section {
  margin-bottom: 30px;
}

label {
  display: block;
  padding-bottom: 1%;
}

input {
  height: 35px;
  width: 200px;
  border: 1px solid coral;
  border-radius: 3px;
  font-size: 18px;
  padding-left: 1%;
}

.pledgeForm-container {
  background: url(../../images/pledge-hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vmax;
  padding-top: 5%;
}

.error {
  color: red;
}

.pledge-button:disabled {
  opacity: .3;
  cursor: default;
}

.pledge-button:hover:enabled,
.pledge-button:active:enabled,
.pledge-button:focus:enabled {
  background-color: #3B8C6E;
  color: ghostwhite;
  cursor: pointer;
}
