.pledgeItem {
  padding: 10px;
  background-color: #0487D9;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, .5),
    rgba(150, 150, 150, .5)
  );
  border-radius: 10px;
  margin: 10px;
  position: relative;
  animation: 1s ease-in .2s 1 slideUpFromBottom;
  color: ghostwhite;
}

.pledgeText-container {
  display: inline-block;
  width: 88%;
}

@keyframes slideUpFromBottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}
