header {
  color: #0468BF;
  margin: .75%;
  padding: .5em;
  height: 140px;
  position: relative;
  perspective: 600;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.card:hover {
  transform: rotateY(180deg);
}

.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}

.subTitles > p {
  text-align: center;
}
