footer {
  background-color: rgba(215, 215, 215, 0.5);
  color: #565902;
  font-size: 12px;
  padding: 1.5%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

footer ul {
  text-align: left;
  list-style: none;
  margin: 0;
  font-weight: bolder;
  padding-left: 0;
  padding-bottom: 1%;
}

footer li {
    font-weight: 400;
    font-size: 15px;
    padding: 5px;
}

footer a {
  color: #565902;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
    cursor: pointer;
}
