nav {
  padding: 1% 2%;
  background-color: #aaa;
  text-align: right;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  position: relative;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
